*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    height: 1200px;
    background-image: linear-gradient( to bottom, #98DFFF, rgba(255, 255, 255, 0.3)), url(bgi.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 80px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
}

.logo:hover {
    color: purple;
}

.menu {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.menu li {
    width: 25%;
}

.menu li a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 30px;
}

.menu li a:hover {
    background-color: white;
    color: black;
}

.main {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}

.main h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.main h2 {
    font-size: 40px;
}

.main h3 {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: normal;
}

.main button {
    font-size: 30px;
    width: 250px;
    height: 90px;
    border-radius: 30px;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.main button:hover {
    background-color: white;
    color: black;
}

.about{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}

.about h2{
    font-size: 30px;
    color: #98DFFF;
    margin-top: 25px;
}

.about h1{
    font-size: 50px;
}

.about .contents{
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.about .left{
    width: 400px;
    height: 500px;
}

.about .lfet img{
    width: 400px;
    height: 500px;
}

.about .right{
    width: 800px;
    height: 500px;
    margin-left: 50px;
}

.about .right h1{
    font-size: 30px;
}

.about .right span{
    color: #98DFFF;
}

.about .right li{
    font-size: 25px;
    margin: 25px 0;
}

.fa-facebook{
    font-size: 50px;
    color: #3b5998;
    margin-right: 10px;
}

.fa-youtube{
    font-size: 50px;
    color: red;
    margin-right: 10px;
}

.fa-instagram{
    font-size: 50px;
    color: rgb(207, 0, 207);
    margin-right: 10px;
}